<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <title>All Users</title>
    <style>
        .nav-pills .nav-link {
            border-radius: 0;
            margin-left: -10px;
            margin-right: -10px;
        }
    </style>
</head>
<body class="bg-light">
<header>
    <div class="container-fluid" style="padding: 0;">
        <nav class="navbar navbar-dark bg-dark" style="border-radius: 0">
            <div class="container-fluid text-white" style="padding: 0;">
                <div class="ml-3" th:each="role: ${user.roles}">
                    <h5 style="margin-left: 20px; color: white;">
                        <b th:text="${user.email}"></b> <span style="font-weight: normal;"
                                                                    th:text="' with roles: ' + ${role.getName().replace('ROLE_', '')}"></span>
                    </h5>
                </div>
                <a class="btn btn-dark text-secondary float-right" aria-current="page" th:href="@{/logout}">Logout</a>
            </div>
        </nav>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse bg-white">
                    <div class="nav nav-pills flex-column">
                            <a th:class="${'nav-link ' + (page.equals('PAGE_ADMIN') ? 'active' : '')}" href="/admin">Admin</a>
                            <a th:class="${'nav-link ' + (page.equals('PAGE_USER') ? 'active' : '')}"  href="/user">User</a>
                    </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                    <h1 class="h1">Admin panel</h1>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button class="nav-link active" data-bs-target="#UsersTable" data-bs-toggle="tab" type="button">
                            Users table
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" data-bs-target="#NewUser" data-bs-toggle="tab" type="button">New user
                        </button>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="UsersTable" class="card tab-pane active">
                        <div class="card-header font-weight-bold h5">
                            All users
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped border-top">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user.id}">Id</td>
                                        <td th:text="${user.username}">User</td>
                                        <td th:text="${user.firstName}">FirstName</td>
                                        <td th:text="${user.lastName}">LastName</td>
                                        <td th:text="${user.email}">Email</td>
                                        <td th:each="role: ${user.getRoles()}"
                                            th:text="${role.getName().replace('ROLE_', '')}">Role
                                        </td>
                                        <td>
                                            <button type="button" class="btn-edit btn btn-info"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modalEdit"
                                                    th:data-bs-target="${'#modalEdit'+user.getId()}">
                                                Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn-delete btn btn-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#modalDelete"
                                                    th:data-bs-target="${'#modalDelete'+user.getId()}">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="NewUser" class="card tab-pane">
                        <div class="card-header font-weight-bold h5">
                            Add new users
                        </div>
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <form class="col-4" th:action="@{/admin/adduser}" th:object="${newUser}" th:method="POST">
                                    <div class="form-group text-center">
                                        <label for="username" class="col-form-label">Username</label>
                                        <input th:field="*{username}" type="text" class="form-control"
                                               placeholder="Username" id="username">
                                        <label for="firstName" class="col-form-label">FirstName</label>
                                        <input th:field="*{firstName}" type="text" class="form-control"
                                               placeholder="FirstName" id="firstName">
                                        <label for="lastName" class="col-form-label">LastName</label>
                                        <input th:field="*{lastName}" type="text" class="form-control"
                                               placeholder="LastName" id="lastName">
                                        <label for="email" class="col-form-label">Email</label>
                                        <input th:field="*{email}" type="text" class="form-control" placeholder="Email"
                                               id="email">
                                        <label for="password" class="col-form-label">Password</label>
                                        <input th:field="*{password}" type="text" class="form-control"
                                               placeholder="Password" id="password">
                                        <label for="roles"><b>Role</b></label>
                                        <select multiple class="form-control"
                                                id="roles" name="roles"
                                                th:size="${roles.size()}"
                                                required>
                                            <option th:each="role:${roles}"
                                                    th:value="${role.id}"
                                                    th:selected="${user.getRoles().contains(role)}">
                                                <th:block
                                                        th:text="${#strings.replace(role.getName(), 'ROLE_', '')}">
                                                </th:block>
                                            </option>
                                        </select>
                                        <br>
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</header>

<!-- Модальное окно Edit -->

<div class="modal fade" th:each="user : ${users}" th:id="${'modalEdit'+user.getId()}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formEdit" th:method="POST" th:action="@{'/admin/updateuser/' + ${user.id}}"
                  th:object="${user}">
                <div class="modal-header"><h5 class="modal-title">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idEditUser">
                                    <strong>ID</strong>
                                    <input class="form-control" th:type="number" th:name="id" id="idEditUser"
                                           th:value="${user.id}"
                                           disabled> </label></p>
                            <p><label for="editUserName"> <strong>Username</strong>
                                <input class="form-control"
                                       th:type="text"
                                       th:name="username"
                                       id="editUserName" placeholder="Username"
                                       th:value="${user.username}" required> </label></p>
                            <p><label for="editFirstName"> <strong>FirstName</strong>
                                <input class="form-control"
                                       th:type="text"
                                       th:name="firstName"
                                       id="editFirstName" placeholder="FirstName"
                                       th:value="${user.firstName}" required> </label></p>
                            <p><label for="editLastName"> <strong>LastName</strong>
                                <input class="form-control"
                                       th:type="text"
                                       th:name="lastName"
                                       id="editLastName" placeholder="LastName"
                                       th:value="${user.lastName}" required> </label></p>
                            <p><label for="editEmail"> <strong>Email</strong>
                                <input class="form-control" th:type="email" th:name="email" id="editEmail"
                                       placeholder="Email"
                                       th:value="${user.email}" required></label></p>
                            <p><label for="editPassword"> <strong>Password</strong>
                                <input class="form-control" th:type="password" th:name="password" id="editPassword"
                                       placeholder="Password" required
                                       th:value="${user.password}">
                            </label></p>
                            <label for="rolesEdit"><b>Role</b></label>
                            <select multiple class="form-control"
                                    id="rolesEdit" name="roles"
                                    th:size="${roles.size()}"
                                    required>
                                <option th:each="role:${roles}"
                                        th:value="${role.id}"
                                        th:selected="${user.getRoles().contains(role)}">
                                    <th:block
                                            th:text="${#strings.replace(role.getName(), 'ROLE_', '')}">
                                    </th:block>
                                </option>
                            </select>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="button" id="editFormCloseButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно Delete -->

<div class="modal fade" th:each="user : ${users}" th:id="${'modalDelete'+user.getId()}" tabindex="-1"
     aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formDelete" th:method="POST" th:action="@{'/admin/delete/' + ${user.id}}"
                  th:object="${user}">
                <div class="modal-header"><h5 class="modal-title">Delete user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p><label for="idDeleteUser"> <strong>ID</strong>
                                <input class="form-control text-secondary" type="number" name="id" id="idDeleteUser" disabled
                                       th:type="number"
                                       th:name="id"
                                       th:value="${user.id}">
                            </label></p>
                            <p><label for="deleteUserUsername"> <strong>Username</strong>
                                <input class="form-control text-secondary" type="text" name="username" id="deleteUserUsername" disabled
                                       th:type="text"
                                       th:name="username"
                                       th:value="${user.username}">
                            </label></p>
                            <p><label for="deleteUserFirstName"> <strong>Firstname</strong>
                                <input class="form-control text-secondary" type="text" name="firstName" id="deleteUserFirstName" disabled
                                       th:type="text"
                                       th:name="firstName"
                                       th:value="${user.firstName}">
                            </label></p>
                            <p><label for="deleteUserLastName"> <strong>LastName</strong>
                                <input class="form-control text-secondary" type="text" name="lastName" id="deleteUserLastName" disabled
                                       th:type="text"
                                       th:name="lastName"
                                       th:value="${user.lastName}">
                            </label></p>
                            <p><label for="deleteUserEmail"> <strong>Email</strong>
                                <input class="form-control text-secondary" type="email" name="Email" id="deleteUserEmail" disabled
                                       th:type="email"
                                       th:name="username"
                                       th:value="${user.email}">
                            </label></p>
                            <label for="rolesDelete"><b>Role</b></label>
                            <select multiple class="form-control"
                                    id="rolesDelete" name="roles"
                                    th:size="${roles.size()}"
                                    required>
                                <option th:each="role:${roles}"
                                        th:value="${role.id}"
                                        th:selected="${user.getRoles().contains(role)}">
                                    <th:block
                                            th:text="${#strings.replace(role.getName(), 'ROLE_', '')}">
                                    </th:block>
                                </option>
                            </select>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="button" id="deleteFormCloseButton" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>








<!--<h1>Список пользователей</h1>-->

<!--<table th:border="1" th:cellpadding="5">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Username</th>-->
<!--        <th>First Name</th>-->
<!--        <th>Last Name</th>-->
<!--        <th>Email</th>-->
<!--        <th>Roles</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="user : ${users}">-->
<!--        <td th:text="${user.id}"></td>-->
<!--        <td th:text="${user.username}"></td>-->
<!--        <td th:text="${user.firstName}"></td>-->
<!--        <td th:text="${user.lastName}"></td>-->
<!--        <td th:text="${user.email}"></td>-->
<!--        <td th:each="role:${user.getRoles()}" th:text="${role.getName().replace('ROLE_', '')}"></td>-->
<!--        <td>-->
<!--            <form method="get" th:action="@{/admin/updateuser/{id}(id=${user.getId()})}">-->
<!--                <input type="submit" value="Update"/>-->
<!--            </form>-->
<!--            <br/>-->
<!--            <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${user.id})}">-->
<!--                <button type="submit">Delete</button>-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!--<br/>-->
<!--<form action="/admin/adduser" target="_blank">-->
<!--    <button>Add new user</button>-->
<!--</form>-->
<!--<br/>-->
<!--<form th:action="@{/logout}" method="get">-->
<!--    <button type="submit">Logout</button>-->
<!--</form>-->





<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
